@import "variables";

h1 {
  color: $red-color;
}

h2 {
  color: green;
}

.card-course-item {
  margin-top: 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
}

.checkbox-select-all-options{
  width: 165px;
  margin: 0 16px;
}